# venv
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Build / dist / packages
build/
dist/
*.egg-info/
.eggs/

# Tools / linters / tests
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pyre/
.dmypy.json

# IDEs / editores
.vscode/
.idea/

# SO / arquivos temporários
.DS_Store
Thumbs.db

# Logs / tmp
*.log
logs/
tmp/
temp/

# Env (se for usar variáveis)
.env
.env.*
